.londrina-solid-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  vertical-align: middle;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;

}
a{
    text-decoration: none;
    transition: opacity 0.3s ease;
}
a:hover {
    opacity: 0.8;
    
}

header {

    width: 100%;
    height: 6rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
    top: 0;
    z-index: 10;
}
.account-controls{
    display: flex;
    gap: 0.5rem;
}
.header-logo {
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
}

.polycoop-link {
    text-decoration: none;
    font-size: 2rem;
    color: #333;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.header-icon{
    display:flex;
    align-items: center;
    color:#000000;
    vertical-align: middle;
}
.primary-btn-blk {
    border: #333 solid 2px;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;

}
.secondary-btn-blk {
    background-color: #fff;
    border: #333 solid 2px;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;

}
.user-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid #333;
    vertical-align: middle;
    object-fit: cover;
}

.profile-image {
    background-color: white;
    padding: 1rem 1rem 3.5rem 1rem;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px -5px 20px 0px rgba(134, 134, 134, 0.6) inset, 0px 7.5px 20px 0px rgba(134, 134, 134, 0.6);
    transform:rotate(-5deg);
}

.profile-image img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
nav{
    border: #333 solid 2px;
    padding: 1rem 0rem;
    background-color: #333;
    
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;

}
nav a{
    background-color: #333;
    border-radius: 15px;
    color: white;
    width: 1/3;
    text-align: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease;
}
nav a:hover{
    
    background-color: #444;
}
main{
    padding: 0 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    min-height: 80vh;
}

.profile-layout{
    display:flex;
    justify-content: space-between;
    padding: 0 5rem;

}
.profile-partners{
    margin-top: 2rem;
}
.partners-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.partner-card{
    width:max-content;
    height: auto;
}
.partner-card-link{
    color:#333;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    vertical-align: middle;
}
.partner-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid #333;
    vertical-align: middle;
    object-fit: cover;
}
.profile-actions{
    margin-top: 2rem;
}
h1{
    font-size: 3rem;
}
footer{
    padding: 2rem 5rem;
    width: 100%;
    height: 20rem;
    color: white;
    background-image: linear-gradient(0deg, #17273f, #28434f);
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width:max-content;
}
.footer-logo img {
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
}

.footer-logo .polycoop-link {
    font-size: 5rem;
    color: white;
}
.footer-nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}
.footer-nav a{
    color: rgb(255, 255, 255);
}

.footer-nav p{
    color: rgb(213, 246, 255);
    font-size: 0.8rem;
}
.footer-nav section{
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    align-items: flex-start;
}

.match-card{
    display:flex;
    flex-direction: column;
    width: 32rem;
    height: 25rem;
}
.match-card a:hover{
    opacity:1;
    cursor:pointer;
}
.card-details{
    height: 18rem;
    gap: 3rem;
    color:black;
    text-align: left;
    display:flex;
}
.card-details img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 1rem;
}
.card-username{
    font-size: 2rem;
    font-weight: bold;
}
.card-buttons{
    display:flex;
    width:100%;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}
.card-buttons button{
    width: 50%;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.skip-btn{
    background-color: #d5d5d5;
    color: rgb(0, 0, 0);
    position: relative;
      border: 2px solid #fff;
}


.skip-btn-decoration {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-45%, -60%);
    height:6rem;
    width:6rem;
    transform-origin: center; 
    transition: transform 0.3s ease;
}

.skip-btn:hover .skip-btn-decoration {
    transform: translate(-45%, -60%) rotate(-22.5deg) scale(1.2);
}

.match-btn{
    background-image: linear-gradient(45deg, #6bffb8, #6bc1ff);
    position: relative;
    border: 2px solid #fff;
}

.match-btn-decoration {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(40%, -60%); 
    height: 6rem;
    width: 6rem;
    transform-origin: center; 
    transition: transform 0.3s ease;
}

.match-btn:hover .match-btn-decoration {
    transform: translate(40%, -60%) rotate(22.5deg) scale(1.2);
}

.grayscale {
    filter: grayscale(100%);
}
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.error-image{
    width: 16rem;
    height:16rem;
    opacity: 0.25;
}