.londrina-solid-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  vertical-align: middle;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;

}
a{
    text-decoration: none;
    transition: opacity 0.3s ease;
}
a:hover {
    opacity: 0.8;
    
}

header {

    width: 100%;
    height: 6rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
    top: 0;
    z-index: 10;
}
.account-controls{
    display: flex;
    gap: 0.5rem;
}
.header-logo {
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
}

.polycoop-link {
    text-decoration: none;
    font-size: 2rem;
    color: #333;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.header-icon{
    display:flex;
    align-items: center;
    color:#000000;
    vertical-align: middle;
}
.primary-btn-blk {
    border: #333 solid 2px;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;

}
.secondary-btn-blk {
    background-color: #fff;
    border: #333 solid 2px;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;

}
.user-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid #333;
    vertical-align: middle;
    object-fit: cover;
}

.profile-image {
    background-color: white;
    padding: 1rem 1rem 3.5rem 1rem;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px -5px 20px 0px rgba(134, 134, 134, 0.6) inset, 0px 7.5px 20px 0px rgba(134, 134, 134, 0.6);
    transform:rotate(-5deg);
}

.profile-image img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
nav{
    border: #333 solid 2px;
    padding: 1rem 0rem;
    background-color: #333;
    
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;

}
nav a{
    background-color: #333;
    border-radius: 15px;
    color: white;
    width: 1/3;
    text-align: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease;
}
nav a:hover{
    
    background-color: #444;
}
main{
    padding: 0 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    min-height: 80vh;
}

.profile-layout{
    display:flex;
    justify-content: space-between;
    padding: 0 5rem;

}
.profile-partners{
    margin-top: 2rem;
}
.partners-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.partner-card{
    width:max-content;
    height: auto;
}
.partner-card-link{
    color:#333;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    vertical-align: middle;
}
.partner-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid #333;
    vertical-align: middle;
    object-fit: cover;
}
.profile-actions{
    display:flex;
    margin-top: 2rem;
    gap:1rem;
}
h1{
    font-size: 3rem;
}
footer{
    padding: 2rem 5rem;
    width: 100%;
    height: 20rem;
    color: white;
    background-image: linear-gradient(0deg, #17273f, #28434f);
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width:max-content;
}
.footer-logo img {
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
}

.footer-logo .polycoop-link {
    font-size: 5rem;
    color: white;
}
.footer-nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}
.footer-nav a{
    color: rgb(255, 255, 255);
}

.footer-nav p{
    color: rgb(213, 246, 255);
    font-size: 0.8rem;
}
.footer-nav section{
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    align-items: flex-start;
}

.match-card{
    display:flex;
    flex-direction: column;
    min-width: 32rem;
    height: 25rem;
    gap:1rem;
}
.match-card a:hover{
    opacity:1;
    cursor:pointer;
}
.card-details{
    height: 18rem;
    gap: 3rem;
    color:black;
    text-align: left;
    display:flex;
    border: 2px solid rgba(160, 160, 160, 0.497);
    border-radius: 1rem;
    padding: 1rem;
}
.card-details img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 1rem;
}
.card-username{
    font-size: 2rem;
    font-weight: bold;
}
.card-description{
    text-wrap: wrap; max-width: 15rem;
}
.card-buttons{
    display:flex;
    width:100%;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}
.card-buttons button{
    width: 50%;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.skip-btn{
    background-color: #d5d5d5;
    color: rgb(0, 0, 0);
    position: relative;
      border: 2px solid #fff;
}


.skip-btn-decoration {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-45%, -60%);
    height:6rem;
    width:6rem;
    transform-origin: center; 
    transition: transform 0.3s ease;
}

.skip-btn:hover .skip-btn-decoration {
    transform: translate(-45%, -60%) rotate(-22.5deg) scale(1.2);
}

.match-btn{
    background-image: linear-gradient(45deg, #6bffb8, #6bc1ff);
    position: relative;
    border: 2px solid #fff;
}

.match-btn-decoration {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(40%, -60%); 
    height: 6rem;
    width: 6rem;
    transform-origin: center; 
    transition: transform 0.3s ease;
}

.match-btn:hover .match-btn-decoration {
    transform: translate(40%, -60%) rotate(22.5deg) scale(1.2);
}

.grayscale {
    filter: grayscale(100%);
}
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.display-flex {
        display:flex;
}

.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.flex-col{
    flex-direction: column;
}
.error-image{
    width: 16rem;
    height:16rem;
    opacity: 0.25;
}
.account-access-form {
    border: 2px solid rgba(103, 103, 103, 0.497);
    border-radius: 1rem;
    padding: 2rem 3rem 4rem 3rem;

    position:relative;
}

.account-access-form-size {
    width: 22rem;
    height: 24rem;
}

.account-registration-form-size{
    width: 44rem;
    height: 28rem;
}

.registration-form-container{
    display:flex;
}
.registration-form-column{
    width:100%;
    padding:0.5rem;
}



.account-access-form h2, .account-access-form p, .account-registration-form h2, .account-registration-form p{
   text-align: center;
}
.account-access-form input{
    width:100%;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgba(103, 103, 103, 0.497);
    border-radius: 0.5rem;
}
.account-access-form textarea{
    width:100%;
    resize:none;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 5.75rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgba(103, 103, 103, 0.497);
    border-radius: 0.5rem;
}
.account-access-form label{
    width:100%;
    text-align: left;
    display:block;
    color: #676767;
    font-size: 0.75rem;
}
.delete-button{
    background-color: #e36565!important;
    width: 30% !important;
    color:white;
    cursor: pointer;
}
.registration-form-buttons{
    display:flex;
    gap:1rem;
}
.account-access-form button{
    width:100%;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    border: 1px solid rgba(103, 103, 103, 0.497);
    border-radius: 0.5rem;
    background-color: #6bc1ff;
    color:white;
    cursor: pointer;
}
.account-access-form p{
    margin-top: 0.5rem;
    color:#676767;
    font-size: 0.75rem;
}
.account-access-form a{
    color:#5b7694;
}

.errors-form{
    padding-top: 1rem;
    color: #df7d7d;
    transform: translate(0%, 100%);
    position:absolute;
    bottom:0;
    left:0;
    width:22rem;
    height:auto;
    list-style: none;
}
.errors-form li{ 
    list-style: none;

}

.request-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    width: 48rem;
    height:100%;
    gap:1rem;
}
.request-card{
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    height:6rem;
    border: 2px solid rgba(103, 103, 103, 0.497);
    display:flex;
    gap:0.5rem;
}
.request-card img{
    border-radius: 0.25rem;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}

.request-section{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.request-actions{
    font-size: 0.5rem;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 0.5rem;
}

.secondary-req-btn{
    border: #333 solid 2px;
    background-color: #ffffff00;
    color: #333;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    cursor:pointer;
}

.primary-req-btn{
    border: #333 solid 2px;
     background-color: #333;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    cursor:pointer;
}
.no-users{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.request-link{
    margin-top:0.5rem;
    color:#333;
    font-size: 0.75rem;
}
.sneaky-link{
    color:#333;
}
.sneaky-link:hover{
    opacity:1;
}

.search-form{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    width: 32rem;
}
.search-username{
    width: 20rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgba(103, 103, 103, 0.497);
    border-radius: 0.5rem;

}
.search-age{
    width: 6rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgba(103, 103, 103, 0.497);
    border-radius: 0.5rem;

}
.search-query{
    display: flex;
    gap: 0.5rem;
}
.search-sorting-select{
    display: flex;
    gap: 0.5rem;
}
.search-sorting{
    display: flex;
    gap: 2rem;
}
.search-sorting-field{
    width: 8rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgba(103, 103, 103, 0.497);
    border-radius: 0.5rem;
     color: #676767;

}
.search-sorting-direction{
    width: 8rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgba(103, 103, 103, 0.497);
    border-radius: 0.5rem;
    color: #676767;
}
.search-sorting-checkbox{
    display:flex;
    align-items: center;
    vertical-align: middle;
    font-size: 0.75rem;
    color: #676767;
    width: 100%;
}
.search-sorting-checkbox input {
    display:flex;
    align-items: center;
}
.search-sorting-button{
    width:100%;
    padding: 0.5rem 2rem;
    border: 1px solid rgba(103, 103, 103, 0.497);
    border-radius: 0.5rem;
    background-color: #6bc1ff;
    color:white;
    cursor: pointer;
}
ul{
    list-style: none;
}
.search-card{
    width: 32rem;
    height:6rem;
    border: 1px solid rgba(103, 103, 103, 0.497);
    border-radius: 0.5rem;
    padding: 1rem;
    display:flex;
    align-items: center;
}
.search-card img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.search-card a{
    display:flex;
    align-items: center;
}
.search-card-info{
    margin-left:0.5rem;
    color: #898989;
}
.search-card-username{
    color:#676767;
    font-size: 1.25rem;
}
.search-results{
    margin-top:1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 80vh;
}
.search-results ul{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.no-format{
    padding: 0!important;
    margin: 0!important;
}
.header-overwrite{
    margin-top: -6rem;
}
.index-section{
    display:flex;
    height:100vh;
}
.index-section-content{
    height:100%;
    width:65%;
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12rem;
}
.index-section-decoration{
    height:100%;
    width:35%;
}
.index-section-image{
    height:100%;
    width:100%;
    object-fit: cover;
}
.index-hugetext{
    color: #333;
    font-size: 10rem;
}

.index-section-feedback{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eec36d;
}
.section-feedback-container{
    background-color: #eec36d;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.section-feedback-container h1{
    margin: 2rem 0;
    font-size: 10rem;
    color: #ffff;
}
.feedback-card{
    background-color: #ffffff;
    padding:2rem;
    width: 36rem;
    height: 18rem;
    display:flex;
    border: 2px solid rgba(103, 103, 103, 0.497);
    border-radius: 1rem;
}
.feedback-card img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
        border-radius: 0.5rem;
}
.feedback-card h3{
    font-size: 2rem;
    margin-left: 1rem;
}

.feedback-card p{
    color: #676767;
    margin-left: 1rem;
    text-wrap: wrap;
}


.feedback-card div{
    width:50%;
}

.index-page-actions{
    margin-top: 2rem;
    display:flex;
    gap:1rem;
    transform: scale(1.5);
}
.index-section-info{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:60vh;
    background-color: #ffffff;
}
.index-section-info h1{
    color:#333;
    font-size:10rem;
}
.info-section-actions{
    height: 2.5rem;
    display:flex;
    gap:1rem;
    transform: scale(2);
}
