<%- include('../partials/header', { pageTitle: 'Error | PolyCOOP' }) %>

    <main class="display-flex justify-center">
        <div class="no-users">
                    <img src="/img/error.png" class="error-image"><br>
                    <h2>Error <%= statusCode %> - <%= message %></h2><br>
                    <a href="/" class="secondary-btn-blk">Return to homepage</a>
                </div>
    </main>

    <%- include('../partials/footer') %>
