<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagetitle</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
</head>

<%- include('../partials/header') %>
<main>
    <%  if (req.session.userId) { %>

        <p>Welcome, user!</p>
    <% } else { %>
        <p>Welcome to our application! Please log in or register to continue.</p>
    <% } %>
    <a href="/registration">Register</a>
    <a href="/login">Login</a>
    <a href="/profile">Profile</a>
    <a href="/match">Match</a>
    

</main>
<%- include('../partials/footer') %>
</html>