<footer>
    <div class="home-link footer-logo">
        <a href="/"><img src="/img/logowhite.png" alt="polyCoop logo" class="header-logo grayscale"><span class="polycoop-link londrina-solid-regular">PolyCOOP</span></a>
    </div>

    <div class="footer-nav">
        <section>
            <p>Navigation</p><br>
            <a href="/">Home</a><br>
            <a href="/profile">Profile</a><br>
            <a href="/registration">Register</a><br>
            <a href="/login">Login</a><br>
        </section>
         <section>
            <p>Contact</p><br>
            <a href="https://github.com/brtkglnski" target="_blank">GitHub</a><br>
            <a href="mailto:bartosz.gli08@gmail.com">E-Mail</a><br>
        </section>
        <section>
            <p>Contribute</p><br>
            <a href="https://github.com/brtkglnski/J103" target="_blank">Repository</a><br>
        </section>

        <p>&copy; 2025</p>
    </div>

</footer>
</body>
</html>