<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (typeof pageTitle !== 'undefined' ? pageTitle : 'polyCoop') %></title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
<link rel="stylesheet" href="/css/style.css">
</head>

<header>
    <div class="home-link">
        <a href="/"><img src="/img/logoblack.png" alt="polyCoop logo" class="header-logo"><span class="polycoop-link londrina-solid-regular">PolyCOOP</span></a>
    </div>
        <nav>
            <a href="/search">Search</a>
            <a href="/">Home</a>
            <a href="/match">Match</a>
        </nav>

        <div class="account-controls">
            <% if (req.session.userId) { %>
                <a href="/profile/<%= req.session.userSlug %>/incoming" class="header-icon"><span class="material-symbols-outlined">heart_plus</span></a>
                <a href="/profile"><img src="/uploads/<%= req.session.profileImage || 'default.svg' %>" alt="User Icon" class="user-icon"></a>
                <a class="secondary-btn-blk" href="/logout">Log out</a>
            <% } else { %>
                <a class="primary-btn-blk" href="/login">Log in</a>
                <a class="secondary-btn-blk" href="/registration" class="register-button">Register</a>
            <% } %>
        </div>
</header>
<body>
